<footer class="text-center mt-auto">
    <div class="mt-5">
        <div class="d-flex justify-content-center gap-3 mb-4">
            <i class="fa-brands fa-youtube fa-lg"></i>
            <i class="fa-brands fa-facebook fa-lg"></i>
            <i class="fa-brands fa-twitter fa-lg"></i>
        </div>
        <p>© Vesuvio | All Rights Reserved</p>
    </div>
</footer>
