/* -- Order Page-- */
.order_page h1 {
    color: #222222;
    font-size: 30px;
}

.order {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.08);
    border-radius: 10px;
}

.order_form {
    border: 1px solid rgba(0, 0, 0, 0.11);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}

.order_form span {
    display: none;
}

.order p {
    color: #252525;
    margin: 0;
}

.totalPrice {
    color: #222222;
    font-size: 18px;
}

.border_form {
    border: 1px solid rgba(0, 0, 0, 0.28);
}

.placeOrderBtn {
    color: black;
    padding: 7px 26px;
    background-color: #EFEFEF;
    text-decoration: none;
    border-style: solid;
    border-width: 3px;
    border-top-color: grey;
    border-right-color: black;
    border-bottom-color: black;
    border-left-color: grey;
}

.placeOrderBtn:active {
    border-top-color: black;
    border-right-color: grey;
    border-bottom-color: grey;
    border-left-color: black;
}


/* -- Order History Page-- */

.welcome_user_text {
    font-size: 18px;
}

.order_history_table {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

table {
    overflow-x: scroll;
}

th, td, .order_history_list {
    font-family: Helvetica, sans-serif;
}

