<div style="padding: 16px;">
    <h1 style="color: #0fc7b7; margin-top: 0; margin-bottom: 18px;">Vesuvio</h1>
    <h2 style="color: #0a0a0a;">Beste {{ username }},</h2>
    <p style="font-size: 18px; font-weight: 550; color: #0a0a0a;">Je registratie is succesvol voltooid!</p>
    <a href="http://localhost/vesuvio/public/" style="background-color: #0fc7b7; color: #111; padding: 8px 24px; border-radius: 6px; text-decoration: none; border: none;
            font-weight: bold;">Terug naar Vesuvio</a>
</div>